<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test5">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/main">
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".ServerService"
            android:exported="true"
            android:label="Server Activity" >
        </service>
        <activity android:name=".settings"
            android:exported="true"
            android:label="settings">
        </activity>

        <activity android:name=".starting_streem"
            android:exported="true"
            android:label="streem">
        </activity>

        <activity android:name=".connect_device"
            android:exported="true"
            android:label="connect">
        </activity>
        <activity
            android:name=".ClientActivity"
            android:exported="true"
            android:label="@string/title_activity_client" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <service
            android:name=".AutoClickService"
            android:canPerformGestures="true"
            android:label="scrin_view_touch"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/serviceconfig" />
        </service>
    </application>

</manifest>